# Java
*.class

# Eclipse IDE
.settings/
bin/
.classpath
.project

# IntelliJ IDEA
.idea/
/.idea/
*.iml

# Gradle
.gradle/
/.gradle/
/.gradle
**/build/
**/out/
.gradletasknamecache
!gradle-wrapper.jar
gradle-app.setting
/build/
/.gradle/

# Mac OSX
.DS_Store